<a href="https://colab.research.google.com/github/Untick/InspectrumClinic_RS_gr2/blob/main/Yurkov%20Vladimir/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Preparations

Импортируем модули

In [1]:
import pandas as pd
import numpy as np
import gdown
import matplotlib.pyplot as plt
import re

Загружаем данные и преобразуем их в pandas dataframe

In [2]:
url = 'https://storage.yandexcloud.net/terratraineeship/23_InspectrumClinic_RS/datasets/%D0%B4%D0%B0%D1%82%D0%B0%D1%81%D0%B5%D1%82%20%D0%BF%D1%80%D0%BE%D1%84%D0%BF%D0%B0%D1%82%D0%BE%D0%BB%D0%BE%D0%B3%20%D1%87%D0%B0%D1%81%D1%82%D1%8C.xlsx'
file_name = 'data.xlsx'
gdown.download(url, file_name, quiet=False)
df_backup = pd.read_excel(file_name)
df_backup.head()

Downloading...
From: https://storage.yandexcloud.net/terratraineeship/23_InspectrumClinic_RS/datasets/%D0%B4%D0%B0%D1%82%D0%B0%D1%81%D0%B5%D1%82%20%D0%BF%D1%80%D0%BE%D1%84%D0%BF%D0%B0%D1%82%D0%BE%D0%BB%D0%BE%D0%B3%20%D1%87%D0%B0%D1%81%D1%82%D1%8C.xlsx
To: /content/data.xlsx
100%|██████████| 32.4M/32.4M [00:02<00:00, 14.0MB/s]

,ДокументПрохождениеМедосмотра,Клиент,КлиентДатаРождения,КлиентПол,КлиентПолПредставление,ДатаЗавершенияМедосмотра,ТипМедосмотра,ТипМедосмотраПредставление,ПсихОсвидетельствование,Контрагент,...,Оториноларингология3_Аудиометрия1_Значение,Оториноларингология3_Аудиометрия1_ЗначениеПредставление,Оториноларингология1_ЖалобыДополнение_Значение,Оториноларингология1_ЖалобыДополнение_ЗначениеПредставление,Стоматология2_ВП2_Значение,Стоматология2_ВП2_ЗначениеПредставление,Терапия2_ЗаключениеФОГК_Значение,Терапия2_ЗаключениеФОГК_ЗначениеПредставление,Офтальмология1_ДвигательныйАппаратГлазДополнение_Значение,Офтальмология1_ДвигательныйАппаратГлазДополнение_ЗначениеПредставление
0,7f41ca7e-7dac-11ec-80fc-0cc47aab8067,c91e3407-b81f-11e9-80cf-0cc47aab8067,1976-10-24,Женский,Женский,2022-01-25,Периодический,Периодический,False,23c173a7-30d9-11e7-80d8-708bcd7f83cd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2ee1f9ac-83dd-11ec-80fc-0cc47aab8067,1a1a5fea-8b7f-11eb-80e8-0cc47aab8067,1987-11-18,Мужской,Мужской,2022-02-02,Периодический,Периодический,False,a6d559b0-7835-11eb-80e8-0cc47aab8067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9cbb191e-8e24-11ec-80fe-0cc47aab8067,7fe324e0-fa51-11eb-80f6-0cc47aab8067,1985-09-08,Мужской,Мужской,2022-02-15,Периодический,Периодический,False,a6d559b0-7835-11eb-80e8-0cc47aab8067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,b8a33910-8eec-11ec-80fe-0cc47aab8067,98f9d761-8d65-11ec-80fe-0cc47aab8067,1988-04-25,Мужской,Мужской,2022-02-16,Периодический,Периодический,False,a6d559b0-7835-11eb-80e8-0cc47aab8067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0bb0d181-938c-11ec-80fe-0cc47aab8067,009aac7d-7bcf-11eb-80e8-0cc47aab8067,1984-04-17,Мужской,Мужской,2022-02-22,Периодический,Периодический,False,a6d559b0-7835-11eb-80e8-0cc47aab8067,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#Getting started with a dataframe

Делаем копию датафрейма

In [3]:
df = df_backup.copy()

Блок с функциями.

* `clean_clear` - функция, удаляющая дубликаты строк/столбцов и полностью пустые 
строки/столбцы.
* `regex_to_nan` - функция, находящая значения по регулярному выражению и заменяющая его на `np.nan`.
* `fills_count` - функция, возвращающая заполненность датафрейма в процентах.

In [4]:
def clean_clear(df, pflag=False):
    # Сохраняем размерность датафрейма
    shape_sum = df.shape

    # Удаляем дубликаты строк
    df = df.drop_duplicates()
    # Удаляем дубликаты столбцов
    df = df.T.drop_duplicates().T

    # Удаляем полностью пустые столбцы и строки
    df = df.dropna(axis=0, how='all')
    df = df.dropna(axis=1, how='all')

    # Выводим результаты
    if pflag:
        print(f"Форма датасета до операции: {shape_sum}")
        print(f"Форма датасета после операции: {df.shape}")

        print(f"Количество строк после удаления пустых и повторяющихся: {df.shape[0]}")
        print(f"Количество столбцов после удаления пустых и повторяющихся: {df.shape[1]}")
        print(f"\n*Удалено {shape_sum[0] - df.shape[0]} строк и {shape_sum[1] - df.shape[1]} столбцов.")
    df = df.convert_dtypes()
    return df

# Регулярное выражения для GUID
regex_GUID = "^[{]?[0-9a-fA-F]{8}" + "-([0-9a-fA-F]{4}-)" + "{3}[0-9a-fA-F]{12}[}]?$"

# Поиск и удаление GUID столбцов
def regex_to_nan(df, to_replace=regex_GUID, value=np.nan, pflag=False):
    df = df.replace(to_replace=to_replace, value=value, regex=True)
    if pflag:
        print(f"Колонки для удаления:\n{df.columns[df.isna().all()].tolist()}")
    return df

# Подсчет заполненности таблицы
def fills_count(df):
    return f"Заполненность: ~{round((1 - (df.isna().sum().sum() / df.size))*100, 2)}%"

Анализ данных.
* форма
* количество значений
* основная информация о датафрейме
* определение и подсчет типов данных до и после попытки автоматического преобразования типов `df.convert_dtypes()`
* процент заполненности данными

In [5]:
print()
print("Форма: ", df.shape)
print("Количество значений: ", df.size)
print()
display(df.info(max_cols=0))
# pd.set_option('display.max_rows', None) # (default=20) для сброса pd.reset_option('display.max_rows') | для колонок max_columns
# display(df.dtypes)
# pd.reset_option('display.max_rows')
print("\nТипы данных в фрейме:")
display(df.dtypes.value_counts())
print("\nПреобразование типов данных.")
df = df.convert_dtypes()
print("\nТипы данных после преобразования:")
display(df.dtypes.value_counts())
print()
print(fills_count(df))

Форма:  (1982, 4587)
Количество значений:  9091434

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1982 entries, 0 to 1981
Columns: 4587 entries, ДокументПрохождениеМедосмотра to Офтальмология1_ДвигательныйАппаратГлазДополнение_ЗначениеПредставление
dtypes: bool(1), datetime64[ns](43), float64(1253), object(3290)
memory usage: 69.3+ MB

None

Типы данных в фрейме:

object            3290
float64           1253
datetime64[ns]      43
bool                 1
dtype: int64

Преобразование типов данных.

Типы данных после преобразования:

string            3206
Int64             1228
boolean             85
datetime64[ns]      43
Float64             25
dtype: int64

Заполненность: ~10.83%

Поиск колонок с датами.
* нахождение по обнаруженному типу `datetime64[ns]`
* нахождение колонок, содержащих в названии слово `Дата`

Сопоставление полученных результатов между собой.
Получилось, что данные по слову `Дата` имеют действительно даты, только не определились и полностью включают в себя найденные стобцы по автоматически определенному типу данных - `datetime64[ns]`

In [6]:
datatype_list = df.columns[df.dtypes == 'datetime64[ns]'].values.tolist()
print(f"Количество столбцов с типом 'datetime64[ns]': {len(datatype_list)}")
dataword_list = df.filter(regex=re.compile("дата", re.IGNORECASE), axis=1).columns.values.tolist()
print(f"Количество столбцов со словом 'Дата': {len(dataword_list)}")
print()
if len(datatype_list) > len(dataword_list):
    data_diff = set(datatype_list) - set(dataword_list)
    if set(dataword_list).issubset(datatype_list):
        print("Список dataword_list входит в datatype_list\n")
elif len(datatype_list) < len(dataword_list):
    data_diff =  set(dataword_list) - set(datatype_list)
    if set(datatype_list).issubset(dataword_list):
        print("Список datatype_list входит в dataword_list\n")
else: print("Списки равны\n")

# Для вывода списка разницы колонок убрать комментарий с строки
# print(*data_diff, sep="\n")

Количество столбцов с типом 'datetime64[ns]': 43
Количество столбцов со словом 'Дата': 111

Список datatype_list входит в dataword_list

Ищем колонки с Ф.И.О. врачей и названием медицинского учреждения

In [7]:
datadoctor_list = df.filter(regex=re.compile("врач", re.IGNORECASE), axis=1).columns.values.tolist()
print(f"Колчество колонок с Ф.И.О. врачей: {len(datadoctor_list)}")
datasalon_list = df.filter(regex=re.compile("салон", re.IGNORECASE), axis=1).columns.values.tolist()
print(f"Колчество колонок с названием мед. учреждения: {len(datasalon_list)}")
dataspec_list = df.filter(regex=re.compile("специализация", re.IGNORECASE), axis=1).columns.values.tolist()
print(f"Колчество колонок с названием специализации: {len(datasalon_list)}")

Колчество колонок с Ф.И.О. врачей: 66
Колчество колонок с названием мед. учреждения: 86
Колчество колонок с названием специализации: 86

Анализ и проверка целевой колонки `ЗаключениеМК` на предмет "мусорных" данных и пропусков.

In [8]:
display(df['ЗаключениеМК'].unique().tolist())

['Годен',
 'ГоденСКоррекциейЗрения',
 'ГоденБезРаботНаВысотах',
 'НуждаетсяВДообследованииИЛечении',
 'ВременноНегоден',
 'ОграниченноГоден',
 <NA>,
 'машинист бульдозера',
 'Газоспасатель',
 ' Газоспасатель']

Создание маски с соответствующими критериям данными для целевой колонки.

In [9]:
mask_list = ['Годен', 'ГоденСКоррекциейЗрения', 'ГоденБезРаботНаВысотах',
       'НуждаетсяВДообследованииИЛечении', 'ВременноНегоден',
       'ОграниченноГоден']

Чистка от мусорных, дублирующих, не имеющих ценности и пустых данных.

Сначала производится чистка по маске из целевой колонки `ЗаключениеМК`, затем удаляются данные с датами, затем данные с GUID, дублирующие и пустые.

Сравнивается форма датафрейма до и после чистки.

In [10]:
print(f"Форма датафрейма до: {df.shape}")
try:
    print("Чистка от некорректных данных в целевой колонке")
    df = df[df['ЗаключениеМК'].isin(mask_list)]
    print(df.shape)

    print("Чистка от колонок с датами")
    df = df.drop(dataword_list, axis='columns')
    print(df.shape)

    print("Чистка от колонок с Ф.И.О. врачей")
    df = df.drop(datadoctor_list, axis='columns')
    print(df.shape)

    print("Чистка от колонок с названием мед. учреждений")
    df = df.drop(datasalon_list, axis='columns')
    print(df.shape)

    print("Чистка от колонок с названием специализации врача")
    df = df.drop(dataspec_list, axis='columns')
    print(df.shape)

    print("Чистка от колонок с GUID, полностью пустых колонок и строк, дубликатов колонок и строк...")
    df = regex_to_nan(df)
    df = clean_clear(df)
except Exception as e:
    print(e)
print(f"Форма датафрейма после: {df.shape}")

Форма датафрейма до: (1982, 4587)
Чистка от некорректных данных в целевой колонке
(1571, 4587)
Чистка от колонок с датами
(1571, 4476)
Чистка от колонок с Ф.И.О. врачей
(1571, 4410)
Чистка от колонок с названием мед. учреждений
(1571, 4324)
Чистка от колонок с названием специализации врача
(1571, 4238)
Чистка от колонок с GUID, полностью пустых колонок и строк, дубликатов колонок и строк...
Форма датафрейма после: (1446, 1473)

#Categorization, OHE, Tokenization, BoW, etc...

In [11]:
# hardcode
lis = df.filter(regex=re.compile('ЛабораторныеИсследования1_Кал', re.IGNORECASE), axis=1).columns.values.tolist()
d = {}
for i in lis:
    d[i] = (df[i].unique())
print(d)

{'ЛабораторныеИсследования1_Кал_Значение': <StringArray>
['не получен', 'получен', <NA>]
Length: 3, dtype: string}

Проверим типы данных в датафрейме

In [12]:
display(df.dtypes.value_counts())

string     1282
object      151
boolean      40
dtype: int64

###functions

Функция для просмотра уникальных данных в фрейме для каждого столбца, возвращающая словарь

In [13]:
def display_nunique_cond(frame):
    dict_to_return = {}
    for i in frame.columns:
        dict_to_return[i] = frame[i].unique()
    print(f"Количество: {len(dict_to_return)}")
    return dict_to_return

###`df` separationby dtype -> `df_object`, `df_bool`, `df_string`

Разделим наш датафрейм на датафреймы по типам данных

In [14]:
column_object_list = df.columns[df.dtypes == 'object'].values.tolist()
column_bool_list = df.columns[df.dtypes == 'boolean'].values.tolist()
column_string_list = df.columns[df.dtypes == 'string'].values.tolist()

df_object = df[column_object_list]
df_bool = df[column_bool_list]
df_string = df[column_string_list]

print("df_object - датафрейм с типом данных object")
print(fills_count(df_object))
display(df_object.head())
print()

print("df_bool - датафрейм с типом данных boolean")
print(fills_count(df_bool))
display(df_bool.head())
print()

print("df_string - датафрейм с типом данных string")
print(fills_count(df_string))
display(df_string.head())
print()

df_object - датафрейм с типом данных object
Заполненность: ~18.23%

,ПсихиатрияНаркология1_Профессиональное1,ПсихиатрияНаркология1_Чистая_Значение,ПсихиатрияНаркология1_СоСледамиВВИнъекций_Значение,ПсихиатрияНаркология1_Контактен_Значение,ПсихиатрияНаркология1_НеКонтактен_Значение,Офтальмология1_Профессиональное1,Офтальмология1_ДискиЗрительныхНервовБледноРозовые_Значение,Оториноларингология1_Профессиональное1,Оториноларингология1_ЗаДужками_Значение,Оториноларингология1_Отсутствуют_Значение,...,ТерапевтНеИсп1_АртериальноеДавление_Значение,ТерапевтНеИсп1_П_Значение,ТерапевтНеИсп1_Рост_Значение,ТерапевтНеИсп1_Вес_Значение,ТерапевтНеИсп1_ТемператураТелаТерапевт_Значение,ТерапевтНеИсп1_ИМТ_Значение,ТерапевтНеИсп1_АртериальноеДавление21_Значение,ТерапевтНеИсп1_Сатурация_Значение,Терапия3_ОбщийХолестерин_Значение,Гинекология2_Выкидышей_Значение
0,0,1,0,0,0,0,0,0,1,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,0,1,0,1,0,0,1,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,0,<NA>,<NA>,0,0,0,0,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,<NA>,<NA>,<NA>,<NA>,<NA>,0,0,0,1,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,<NA>,<NA>,<NA>,<NA>,<NA>,0,0,0,1,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

df_bool - датафрейм с типом данных boolean
Заполненность: ~4.32%

,ПсихОсвидетельствование,Оториноларингология2_Профессиональное1,Дерматовенерология1_Профессиональное2,Дерматовенерология2_Профессиональное1,Дерматовенерология2_Профессиональное2,Хирургия1_Профессиональное2,Офтальмология2_Профессиональное1,Офтальмология2_Профессиональное2,Офтальмология2_ДискиЗрительныхНервовБледноРозовые_Значение,Офтальмология2_СетчаткаПрилежит_Значение,...,Оториноларингология2_ЗаДужками_Значение,Оториноларингология2_Отсутствуют_Значение,ТерапевтНеИсп1_ЭКГПроведено_Значение,Эндоскопия1_Профессиональное1,ТерапевтНеИсп1_Профессиональное2,ХирургНеИсп1_Профессиональное2,Психиатрия1_Профессиональное2,Рентгенология1_Профессиональное2,Психиатрия3_Профессиональное1,Оториноларингология3_Профессиональное1
0,False,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,False,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,False,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,False,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,False,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

df_string - датафрейм с типом данных string
Заполненность: ~16.01%

,КлиентПол,ТипМедосмотра,Цех,Профессия,ЗаключениеМК,ЗаключениеМКПредставление,Заключение,ДиспансернаяГруппа,ВредныеФакторы,ЛабораторныеИсследования1_ОАК_Значение,...,Оториноларингология3_Диагноз_Значение,Оториноларингология3_ВидимыеСлизистые_ЗначениеПредставление,Оториноларингология3_СВысыпаниями_ЗначениеПредставление,Оториноларингология3_НебныеМиндалины1_ЗначениеПредставление,Оториноларингология3_НебныеМиндалины2_ЗначениеПредставление,Оториноларингология3_ВестибулярныйАнализатор1_ЗначениеПредставление,Оториноларингология1_ЖалобыДополнение_Значение,Стоматология2_ВП2_Значение,Терапия2_ЗаключениеФОГК_Значение,Офтальмология1_ДвигательныйАппаратГлазДополнение_Значение
0,Женский,Периодический,<NA>,Ведущий специалист по организации обуения,Годен,Годен к работе в указанных условиях,Годен к работе в указанных условиях,I,11.4,получен,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,Мужской,Периодический,<NA>,Ведущий специалист,Годен,Годен к работе в указанных условиях,Годен к работе в указанных условиях,IIIа,4.2.5,получен,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,Мужской,Периодический,<NA>,Главный менеджер,ГоденСКоррекциейЗрения,Годен к работе в указанных условиях (с коррекц...,Годен к работе в указанных условиях (с коррекц...,II,4.2.5,получен,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,Мужской,Периодический,Отдел техники и технологии строительства скважин,Главный специалист,Годен,Годен к работе в указанных условиях,Годен к работе в указанных условиях,I,11.1,получен,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,Мужской,Периодический,Отдел технологий текущего и капитального ремон...,Старший специалист,ГоденСКоррекциейЗрения,Годен к работе в указанных условиях (с коррекц...,Годен к работе в указанных условиях (с коррекц...,II,11.1,получен,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

###df_object dtype `object`->`float`

Нам необходимо привести датафреймы к цифровому виду.
Посмотрим, что за данные `object`

In [15]:
display(display_nunique_cond(df_object))

Количество: 151

{'ПсихиатрияНаркология1_Профессиональное1': array([0, <NA>], dtype=object),
 'ПсихиатрияНаркология1_Чистая_Значение': array([1, <NA>], dtype=object),
 'ПсихиатрияНаркология1_СоСледамиВВИнъекций_Значение': array([0, <NA>], dtype=object),
 'ПсихиатрияНаркология1_Контактен_Значение': array([0, 1, <NA>], dtype=object),
 'ПсихиатрияНаркология1_НеКонтактен_Значение': array([0, <NA>], dtype=object),
 'Офтальмология1_Профессиональное1': array([0, <NA>], dtype=object),
 'Офтальмология1_ДискиЗрительныхНервовБледноРозовые_Значение': array([0, 1, <NA>], dtype=object),
 'Оториноларингология1_Профессиональное1': array([0, <NA>], dtype=object),
 'Оториноларингология1_ЗаДужками_Значение': array([1, <NA>, 0], dtype=object),
 'Оториноларингология1_Отсутствуют_Значение': array([0, <NA>, 1], dtype=object),
 'Оториноларингология1_Увеличены_Значение': array([0, <NA>, 1], dtype=object),
 'Оториноларингология1_УвеличеныСПробками_Значение': array([0, <NA>], dtype=object),
 'ХирургНеИсп1_Профессиональное1': array([0, <NA>], dtype=object),
 'ХирургНеИсп1_Мягкий_Значение': array([0, <NA>], dtype=object),
 'Гинекология1_Профессиональное1': array([0, <NA>], dtype=object),
 'Гинекология1_Регулярные_Значение': array([1, <NA>], dtype=object),
 'Гинекология1_Нерегулярные_Значение': array([0, <NA>], dtype=object),
 'Гинекология1_Плотная_Значение': array([1, <NA>, 0], dtype=object),
 'Гинекология1_Эрозирована_Значение': array([0, <NA>, 1], dtype=object),
 'Гинекология1_РубцовоИзменена_Значение': array([0, <NA>, 1], dtype=object),
 'Стоматология1_Профессиональное1': array([0, <NA>], dtype=object),
 'Терапия1_П_Значение': array([76, 65, 66, 80, 70, 77, 74, 75, <NA>, 69, 82, 100, 64, 67, 78, 79,
        57, 72, 60, 58, 68, 73, 59, 63, 85, 86, 89, 83, 84, 48, 50, 87, 53,
        96, 97, 81, 54, 88, 92, 61, 52, 98, 93, 101, 94, 8, 91, 104, 102,
        90, 71, 62, 127, 103, 122, 118, 56, 108, 95, 110, 55, 109, 51, 134,
        99, 107, 2], dtype=object),
 'Терапия1_ЧД_Значение': array([16, 18, 70, 17, <NA>], dtype=object),
 'Терапия1_ФизиологическойОкраскиИВлажности_Значение': array([1, <NA>], dtype=object),
 'Терапия1_Гиперемированы_Значение': array([0, <NA>], dtype=object),
 'Дерматовенерология1_Профессиональное1': array([<NA>, 0], dtype=object),
 'Рентгенология1_Профессиональное1': array([<NA>, 0], dtype=object),
 'Неврология1_Профессиональное1': array([<NA>, 0], dtype=object),
 'Неврология1_ВПолномОбъеме_Значение': array([<NA>, 0, 1], dtype=object),
 'Неврология1_ОграниченоВверх_Значение': array([<NA>, 0], dtype=object),
 'Неврология1_ОграниченоВниз_Значение': array([<NA>, 0, 1], dtype=object),
 'Неврология1_Нет_Значение': array([<NA>, 0, 1], dtype=object),
 'Неврология1_Горизонтальный_Значение': array([<NA>, 0, 1], dtype=object),
 'Неврология1_МышечнаяСила_Значение': array([<NA>, 5], dtype=object),
 'Терапия1_Профессиональное1': array([<NA>, 0], dtype=object),
 'Терапия1_Рост_Значение': array([<NA>, 174, 180, 175, 178, 172, 176, 160, 173, 164, 177, 167, 161,
        153, 165, 152, 162, 163, 156, 158, 150, 170, 187, 183, 185, 188,
        182, 168, 179, 159, 193, 171, 186, 169, 155, 184, 151, 190, 154,
        166, 196, 181, 157, 195, 194, 189, 197, 191, 192, 142, 200, 145,
        149, 1633, 1183], dtype=object),
 'Терапия1_Рост_ЗначениеПредставление': array([<NA>, 174, 180, 175, 178, 172, 176, 160, 173, 164, 177, 167, 161,
        153, 165, 152, 162, 163, 156, 158, 150, 170, 187, 183, 185, 188,
        182, 168, 179, 159, 193, 171, 186, 169, 155, 184, 151, 190, 154,
        166, 196, 181, 157, 195, 194, 189, 197, 191, 192, 142, 200, 145,
        149, 1633, 1183], dtype=object),
 'Терапия1_Вес_ЗначениеПредставление': array([<NA>, 68.0, 81.0, 112.0, 58.0, 60.0, 90.0, 78.0, 65.0, 100.0, 95.0,
        75.0, 73.0, 80.0, 51.0, 92.0, 72.0, 8.0, 89.0, 84.0, 62.0, 85.0,
        64.0, 67.0, 94.0, 70.0, 61.0, 49.0, 79.0, 47.0, 55.0, 76.0, 97.0,
        111.0, 52.0, 83.0, 44.0, 57.0, 56.0, 54.0, 66.0, 110.0, 105.0,
        86.0, 103.0, 45.0, 109.2, 93.0, 130.0, 71.0, 48.0, 74.0, 77.0,
        69.0, 82.0, 109.0, 121.0, 88.0, 59.0, 63.0, 53.0, 96.0, 106.0,
        108.0, 107.0, 91.0, 98.0, 120.0, 87.0, 40.0, 115.0, 68.5, 99.0,
        114.0, 42.0, 104.0, 43.0, 50.0, 53.5, 140.0, 102.0, 137.0, 101.0,
        118.0, 128.0, 69.5, 153.0, 124.0, 150.0, 46.0], dtype=object),
 'УЗИДиагностика1_Головка_Значение': array([<NA>, 12, 10, 11, 16, 20, 17, 24, 28, 22, 21, 25, 15, 23, 19, 29],
       dtype=object),
 'УЗИДиагностика1_Тело_Значение': array([<NA>, 9, 11, 8, 12, 10, 16, 15, 20, 18, 19, 13, 17, 14],
       dtype=object),
 'Хирургия1_Профессиональное1': array([<NA>, 0], dtype=object),
 'Хирургия1_Мягкий_Значение': array([<NA>, 0], dtype=object),
 'Хирургия2_Мягкий_Значение': array([<NA>, 0], dtype=object),
 'Офтальмология1_Профессиональное2': array([<NA>, 0], dtype=object),
 'Терапия2_Профессиональное1': array([<NA>, 0], dtype=object),
 'Терапия2_Температура_Значение': array([<NA>, 36.2], dtype=object),
 'Терапия2_П_Значение': array([<NA>, 10, 80, 55, 84, 66, 77, 69, 82, 65, 75, 63, 78, 71, 90, 93,
        67, 103, 79, 72, 54, 81, 76, 58, 89, 57, 92, 61, 68, 85, 60, 74,
        73, 70, 83, 50], dtype=object),
 'Терапия2_ЧД_Значение': array([<NA>, 16], dtype=object),
 'Терапия2_Рост_Значение': array([<NA>, 175, 152, 153, 155, 165, 170, 168, 176, 162, 171, 166, 190,
        158, 185, 180, 160, 174, 181, 178, 186, 154, 163, 177, 164, 167,
        179, 156, 173, 184, 182, 169, 172], dtype=object),
 'Терапия2_Вес_Значение': array([<NA>, 58, 75, 56, 48, 72, 95, 63, 70, 51, 84, 93, 69, 98, 100, 83,
        90, 80, 73, 79, 89, 81, 74, 87, 71, 82, 94, 77, 62, 92, 86, 110,
        43, 53, 68, 115, 60, 103, 101, 61, 52, 54, 85, 105, 96],
       dtype=object),
 'Терапия2_ФизиологическойОкраскиИВлажности_Значение': array([<NA>, 1], dtype=object),
 'Терапия2_Гиперемированы_Значение': array([<NA>, 0], dtype=object),
 'Неврология2_Профессиональное1': array([<NA>, 0], dtype=object),
 'Неврология2_ВПолномОбъеме_Значение': array([<NA>, 0, 1], dtype=object),
 'Неврология2_МышечнаяСила_Значение': array([<NA>, 5], dtype=object),
 'УЗИДиагностика1_РазмерыДлина_Значение': array([<NA>, 44, 30, 35, 41, 36, 27, 53, 32, 45, 55, 40, 31, 59, 61, 52,
        50, 67, 43, 56, 39, 38, 60, 49, 48, 42, 54, 87, 104, 64, 57, 47,
        37, 29, 51, 58, 69, 80, 46, 63, 33, 22, 25, 65, 28, 34],
       dtype=object),
 'УЗИДиагностика1_ПереднеЗадний_Значение': array([<NA>, 40, 27, 36, 26, 56, 24, 64, 29, 48, 38, 34, 51, 25, 50, 23,
        44, 35, 46, 37, 32, 33, 42, 43, 54, 15, 95, 39, 22, 45, 41, 31, 21,
        30, 49, 28, 20, 59, 17, 18, 47], dtype=object),
 'УЗИДиагностика1_ТолщинаЛевыйЯичник_Значение': array([<NA>, 17, 18, 21, 22, 19, 20, 15, 14, 23, 16, 13, 11, 27, 26, 38,
        29, 12, 25, 10], dtype=object),
 'УЗИДиагностика1_ДлинаЛевыйЯичник_Значение': array([<NA>, 26, 30, 22, 27, 21, 20, 23, 33, 37, 36, 29, 35, 28, 31, 32,
        19, 25, 34, 40, 38, 39, 49, 18, 24, 17], dtype=object),
 'УЗИДиагностика2_Стенки_Значение': array([<NA>, 1.2, 1.5, 2.0, 1.7], dtype=object),
 'УЗИДиагностика2_Головка_Значение': array([<NA>, 10, 22, 21, 23], dtype=object),
 'УЗИДиагностика2_Тело_Значение': array([<NA>, 9, 19, 18], dtype=object),
 'УЗИДиагностика2_Хвост_Значение': array([<NA>, 17, 20], dtype=object),
 'ХирургНеИсп1_СПИРОМЕТРИЯПРОВЕДЕНА_Значение': array([<NA>, 0], dtype=object),
 'Офтальмология1_СосудыСреднегоКалибра_Значение': array([<NA>, 0, 1], dtype=object),
 'Офтальмология1_СетчаткаПрилежит_Значение': array([<NA>, 0, 1], dtype=object),
 'ФункциональнаяДиагностика1_ЭКГПроведено_Значение': array([<NA>, 1, 0], dtype=object),
 'Хирургия1_СПИРОМЕТРИЯПРОВЕДЕНА_Значение': array([<NA>, 0], dtype=object),
 'УЗИДиагностика1_ПеченьРазмерыПраваяДоляКосойВертикальныйРазмер_Значение': array([<NA>, 120, 110], dtype=object),
 'УЗИДиагностика1_ЛеваяДоляТолщина_Значение': array([<NA>, 110, 45], dtype=object),
 'УЗИДиагностика1_ШиринаМм_Значение': array([<NA>, 104, 55], dtype=object),
 'УЗИДиагностика1_ГоловкаМм_Значение': array([<NA>, 12, 21, 11], dtype=object),
 'УЗИДиагностика1_ТелоМм_Значение': array([<NA>, 10, 8], dtype=object),
 'УЗИДиагностика1_ХвостМм_Значение': array([<NA>, 17, 16], dtype=object),
 'УЗИДиагностика1_РазмерыДлинаМм_Значение': array([<NA>, 85, 75], dtype=object),
 'УЗИДиагностика1_ТолщинаМм_Значение': array([<NA>, 40, 2], dtype=object),
 'УЗИДиагностика1_ДлинникМм_Значение': array([<NA>, 60], dtype=object),
 'УЗИДиагностика1_ПоперечникМм_Значение': array([<NA>, 21], dtype=object),
 'ЛабораторныеИсследования1_Профессиональное1': array([<NA>, 0], dtype=object),
 'ЭКГНеИсп1_Профессиональное1': array([<NA>, 0], dtype=object),
 'Терапия1_ЭКГПроведено_Значение': array([<NA>, 0, 1], dtype=object),
 'Терапия1_ИМТ_ЗначениеПредставление': array([<NA>, 22.53, 29.74, 19.92, 29.37, 23.24, 2.52, 30.08, 24.06, 30.12,
        23.92, 30.76, 29.3, 27.55, 32.46, 32.39, 24.09, 27.53, 29.38,
        34.95, 28.04, 23.83, 30.48, 21.78, 32.87, 22.59, 33.06, 18.36,
        21.22, 27.17, 23.51, 27.76, 22.4, 34.78, 31.41, 22.09, 25.71,
        20.76, 31.92, 26.77, 17.99, 24.78, 17.19, 29.76, 21.3, 22.64,
        22.83, 24.82, 23.8, 24.9, 20.82, 22.31, 20.58, 23.41, 21.88, 24.49,
        23.89, 25.93, 26.11, 24.16, 24.15, 24.34, 19.28, 17.47, 24.91,
        26.83, 22.6, 22.07, 23.44, 23.88, 28.69, 31.12, 24.61, 24.8, 32.51,
        21.14, 30.47, 21.26, 20.31, 21.51, 32.61, 20.52, 25.35, 40.9,
        20.08, 19.38, 32.18, 39.25, 25.82, 27.68, 27.82, 25.18, 19.84,
        26.3, 19.98, 25.48, 28.6, 30.67, 21.6, 30.84, 25.76, 19.79, 19.3,
        19.72, 28.34, 27.66, 26.88, 26.57, 26.45, 24.22, 26.53, 29.39,
        20.22, 22.66, 24.84, 24.97, 21.16, 26.42, 24.98, 23.67, 33.9,
        25.78, 33.95, 18.5, 28.63, 25.0, 29.01, 29.52, 21.56, 20.93, 22.72,
        25.95, 20.6, 29.07, 19.03, 27.78, 21.72, 27.99, 25.25, 28.09,
        31.56, 25.88, 16.53, 22.1, 41.97, 31.64, 28.39, 27.44, 18.73,
        21.74, 28.08, 29.35, 31.14, 47.27, 25.26, 20.55, 29.73, 26.87,
        27.43, 24.76, 19.62, 21.97, 27.64, 29.05, 25.54, 29.98, 18.22,
        29.34, 30.45, 23.05, 29.65, 25.39, 21.79, 20.75, 30.8, 24.28, 21.2,
        25.74, 30.04, 21.06, 23.94, 37.46, 22.68, 18.34, 28.4, 27.75,
        25.72, 36.73, 20.2, 28.7, 24.0, 19.57, 34.61, 25.4, 19.43, 23.84,
        22.13, 17.96, 24.51, 20.53, 30.35, 31.79, 21.11, 24.11, 26.23,
        24.17, 21.23, 27.77, 29.67, 30.86, 23.95, 22.15, 38.57, 23.04,
        25.68, 20.02, 26.28, 30.85, 28.01, 23.31, 24.26, 26.12, 32.6,
        32.53, 25.31, 27.73, 21.34, 29.21, 28.14, 25.63, 26.99, 20.06,
        26.86, 19.83, 25.61, 20.18, 29.04, 25.36, 24.18, 31.99, 23.2, 31.8,
        28.96, 25.04, 27.15, 31.6, 24.46, 22.86, 18.07, 19.71, 29.94, 34.2,
        39.26, 30.49, 27.12, 38.74, 29.54, 30.25, 34.68, 38.3, 24.69,
        26.35, 23.73, 20.29, 27.04, 25.83, 31.35, 35.94, 28.52, 27.34,
        26.09, 29.06, 24.72, 31.18, 27.46, 29.64, 23.18, 23.7, 30.69,
        25.65, 20.98, 21.67, 19.82, 22.21, 28.71, 22.47, 25.66, 19.39,
        24.38, 23.55, 21.46, 16.23, 22.89, 28.37, 23.66, 34.57, 21.8,
        39.79, 23.85, 24.24, 26.14, 33.79, 37.64, 25.22, 26.56, 31.62,
        22.88, 33.52, 23.62, 23.26, 31.02, 28.41, 33.59, 36.33, 33.43,
        23.15, 24.02, 25.28, 19.6, 18.11, 20.48, 36.0, 24.57, 27.51, 24.77,
        38.05, 22.32, 31.96, 23.29, 25.21, 24.86, 39.44, 31.91, 33.8,
        28.26, 26.32, 24.44, 23.71, 18.18, 21.41, 25.97, 22.77, 25.15,
        25.01, 24.73, 24.93, 28.36, 26.54, 24.68, 26.85, 20.96, 22.44,
        26.84, 34.69, 35.99, 32.41, 26.01, 34.96, 32.49, 35.06, 23.3,
        24.54, 22.5, 26.17, 29.0, 26.22, 30.3, 19.26, 17.67, 27.16, 26.73,
        30.42, 32.45, 23.37, 22.28, 18.79, 21.38, 27.28, 28.95, 25.64,
        19.33, 21.08, 28.38, 28.65, 19.23, 17.88, 21.63, 43.21, 23.53,
        21.39, 29.22, 29.41, 22.49, 27.14, 23.81, 21.91, 25.06, 20.24,
        20.78, 24.62, 17.92, 44.98, 22.92, 26.79, 22.22, 22.94, 41.52,
        28.03, 22.84, 23.36, 19.1, 33.96, 32.74, 33.83, 28.13, 38.06,
        22.99, 32.21, 24.07, 30.79, 22.76, 18.94, 27.47, 22.23, 31.4,
        28.19, 32.89, 26.67, 21.36, 19.88, 19.59, 17.42, 17.76, 20.03,
        24.19, 21.27, 19.14, 18.83, 23.12, 19.81, 24.88, 34.25, 20.68,
        25.86, 27.4, 18.65, 22.78, 37.22, 25.96, 19.87, 29.92, 37.87,
        23.78, 26.51, 17.51, 24.21, 36.93, 21.86, 23.14, 21.01, 18.59,
        34.54, 23.46, 31.83, 32.1, 29.32, 20.91, 28.76, 26.2, 29.7, 32.72,
        21.09, 21.04, 23.25, 21.37, 23.34, 28.98, 22.41, 19.97, 48.33,
        23.39, 26.03, 17.63, 23.57, 21.4, 26.04, 24.01, 18.52, 26.29, 18.4,
        30.27, 26.06, 25.16, 33.91, 19.36, 28.72, 21.13, 38.53, 35.51,
        21.5, 18.72, 17.34, 29.63, 32.99, 26.15, 20.01, 18.8, 29.9, 27.74,
        28.68, 21.05, 31.59, 31.22, 27.18, 33.25, 27.92, 24.3, 32.35, 33.5,
        25.24, 25.91, 22.48, 29.72, 30.11, 0.19, 0.69, 26.7, 19.25, 29.68,
        36.49, 33.46, 26.61, 32.08, 30.43, 26.78, 21.43, 31.98, 49.38,
        32.37, 23.03, 29.03, 32.0, 38.76, 27.36, 33.08, 20.83, 20.57,
        22.04, 30.93, 33.13, 28.73, 21.94, 29.28, 24.45, 32.28, 36.75,
        18.82, 31.46, 29.48, 21.31, 23.32, 30.41, 25.56, 25.84, 32.22,
        24.39, 22.58, 35.86, 21.83, 19.0, 17.91, 24.71, 25.9, 26.4, 29.59,
        20.0, 27.89, 26.13, 37.55, 31.44, 31.74, 27.1, 43.34, 27.97, 17.58,
        28.58, 36.05, 23.33, 21.61, 20.99, 43.29, 31.7, 34.89, 23.01,
        33.03, 21.87, 33.98, 19.47, 27.72, 43.94, 22.79, 25.47, 20.9,
        41.43, 35.46, 33.14, 22.65, 27.38, 35.29, 31.38, 21.45, 30.16,
        29.86, 18.38, 31.53, 30.52, 48.42, 22.43, 20.45, 18.29, 23.45,
        32.14, 30.83, 16.65, 32.79, 19.65, 17.72, 33.2, 19.95, 30.39,
        24.03, 22.51, 25.34, 32.05], dtype=object),
 'Терапия1_АртериальноеДавление21_Значение': array([<NA>, 82, 80, 60, 70, 90, 110, 120, 75, 85, 84, 77, 72, 68, 78, 83,
        64, 76, 74, 86, 89, 87, 71, 88, 112, 92, 66, 100, 62, 81, 801, 99,
        91, 97, 111, 104, 102, 95, 98, 69, 96, 105, 73, 108, 63, 101, 93,
        79, 67, 107, 106, 94, 103, 109, 805, 65, 61, 20, 58, 40, 59],
       dtype=object),
 'Гинекология1_МенопаузаС_Значение': array([<NA>, 45, 49, 47, 52, 50, 53, 35, 39, 54, 51, 43, 36, 55, 48, 2,
        46, 40, 44, 42, 12, 56], dtype=object),
 'Гинекология1_Родов_Значение': array([<NA>, 2, 1, 3, 5, 4], dtype=object),
 'Гинекология1_Абортов_Значение': array([<NA>, 2, 3, 1, 4, 7, 5, 8], dtype=object),
 'Гинекология1_Беременностей_Значение': array([<NA>, 4, 5, 1, 2, 6, 3, 7, 11, 0], dtype=object),
 'УЗИДиагностика1_D_Значение': array([<NA>, 2], dtype=object),
 'УЗИДиагностика1_ВоротнаяВена_Значение': array([<NA>, 8], dtype=object),
 'УЗИДиагностика1_DМм_Значение': array([<NA>, 5], dtype=object),
 'УЗИДиагностика1_Профессиональное1': array([<NA>, 0], dtype=object),
 'УЗИДиагностика2_Профессиональное1': array([<NA>, 0], dtype=object),
 'ПсихиатрияНаркология2_Профессиональное1': array([<NA>, 0], dtype=object),
 'Терапия1_ЧССТерапевт_Значение': array([<NA>, 69, 82, 76, 74, 75, 78, 79, 57, 72, 60, 58, 68, 73, 63, 70],
       dtype=object),
 'УЗИДиагностика1_МлечныеПротокиШириной_Значение': array([<NA>, 0.69, 0.5, 1.1, 0.6], dtype=object),
 'УЗИДиагностика1_МлечныеПротокиНириной_Значение': array([<NA>, 0.67, 0.5, 1.2, 0.6], dtype=object),
 'Терапия1_Профессиональное2': array([<NA>, 0], dtype=object),
 'Гинекология1_Выкидышей_Значение': array([<NA>, 2, 1, 7], dtype=object),
 'Терапия2_Сатурация_Значение': array([<NA>, 36.6, 98.0, 99.0, 97.0, 96.0, 95.0, 100.0, 88.0],
       dtype=object),
 'Терапия2_ЭКГПроведено_Значение': array([<NA>, 0, 1], dtype=object),
 'Терапия2_ИМТ_Значение': array([<NA>, 32.46, 23.92, 26.45, 32.87, 22.32, 22.6, 19.43, 29.76, 31.8,
        25.04, 27.15, 34.2, 39.26, 30.49, 27.12, 26.3, 24.69, 28.52, 27.34,
        26.09, 29.06, 24.72, 23.89, 30.86, 31.18, 27.46, 29.64, 23.18,
        23.7, 30.69, 25.65, 30.12, 29.34, 26.14, 33.79, 37.64, 36.73,
        25.22, 24.86, 39.44, 26.84, 17.67, 19.71, 30.07, 30.67, 23.53,
        26.67, 36.3, 30.93, 21.6, 25.83, 23.44, 36.93, 21.86, 23.14, 31.14,
        28.41, 21.39, 19.92, 21.01, 23.24, 19.1, 25.16, 24.49, 25.95,
        33.91, 23.83, 19.36, 24.22, 27.44, 35.51, 31.98, 21.77, 24.3,
        35.92, 31.7, 30.3, 23.12, 18.94, 32.14, 28.73, 28.63], dtype=object),
 'Терапия2_АртериальноеДавление21_Значение': array([<NA>, 90, 70, 80, 92, 99, 91, 82, 112, 78, 98, 107, 94, 103, 87,
        68, 85, 79, 77, 75, 109, 83, 88, 100, 69, 67, 93, 71, 65, 60, 20],
       dtype=object),
 'ЛабораторныеИсследования2_Профессиональное1': array([<NA>, 0], dtype=object),
 'Терапия1_Профессиональное3': array([<NA>, 0], dtype=object),
 'Терапия1_Курение_Значение': array([<NA>, 0, 1], dtype=object),
 'Психиатрия1_Профессиональное1': array([<NA>, 0], dtype=object),
 'Гинекология1_Профессиональное2': array([<NA>, 0], dtype=object),
 'Рентгенология2_Профессиональное1': array([<NA>, 0], dtype=object),
 'Гинекология2_Профессиональное1': array([<NA>, 0], dtype=object),
 'Гинекология2_ДлительностьЦикла_Значение': array([<NA>, 30, 28, 25], dtype=object),
 'Гинекология2_Родов_Значение': array([<NA>, 2, 1], dtype=object),
 'Гинекология2_Плотная_Значение': array([<NA>, 0], dtype=object),
 'Гинекология2_Беременностей_Значение': array([<NA>, 2, 1, 3, 0], dtype=object),
 'Хирургия2_Профессиональное1': array([<NA>, 0], dtype=object),
 'Хирургия2_СПИРОМЕТРИЯПРОВЕДЕНА_Значение': array([<NA>, 0], dtype=object),
 'ПроцедурнаяМедсестра1_Профессиональное1': array([<NA>, 0], dtype=object),
 'ФункциональнаяДиагностика1_Профессиональное1': array([<NA>, 0], dtype=object),
 'Гинекология2_Абортов_Значение': array([<NA>, 1], dtype=object),
 'УЗИДиагностика1_Профессиональное2': array([<NA>, 0], dtype=object),
 'Стоматология2_Профессиональное1': array([<NA>, 0], dtype=object),
 'Стоматология2_D_Значение': array([<NA>, 4], dtype=object),
 'Неврология1_Профессиональное2': array([<NA>, 0], dtype=object),
 'УЗИДиагностика2_РазмерыДлина_Значение': array([<NA>, 48, 56, 51, 43], dtype=object),
 'УЗИДиагностика2_ПереднеЗадний_Значение': array([<NA>, 37, 38, 36, 39, 46], dtype=object),
 'УЗИДиагностика2_Ширина_Значение': array([<NA>, 50, 51, 52, 45, 63], dtype=object),
 'УЗИДиагностика2_ТолщинаПравыйЯичник_Значение': array([<NA>, 17, 18, 24], dtype=object),
 'УЗИДиагностика2_ТолщинаЛевыйЯичник_Значение': array([<NA>, 23, 19, 17, 18, 14, 22], dtype=object),
 'УЗИДиагностика2_ДлинаЛевыйЯичник_Значение': array([<NA>, 32, 31, 29, 33, 27, 39], dtype=object),
 'Оториноларингология2_D_Значение': array([<NA>, 6, 4, 5], dtype=object),
 'Оториноларингология2_S_Значение': array([<NA>, 6, 5, 4], dtype=object),
 'ФункциональнаяДиагностика2_ТемператураТела_Значение': array([<NA>, 36.6], dtype=object),
 'Терапия3_АртериальноеДавление_Значение': array([<NA>, 180, 128, 130], dtype=object),
 'Терапия3_П_Значение': array([<NA>, 76, 73, 65], dtype=object),
 'Терапия3_АртериальноеДавление21_Значение': array([<NA>, 109, 79, 80], dtype=object),
 'Гинекология2_МенопаузаС_Значение': array([<NA>, 45], dtype=object),
 'Терапия3_Рост_Значение': array([<NA>, 175, 176], dtype=object),
 'Терапия3_Вес_Значение': array([<NA>, 79, 72], dtype=object),
 'Терапия3_Сатурация_Значение': array([<NA>, 96, 98], dtype=object),
 'Терапия3_ИМТ_Значение': array([<NA>, 25.8, 23.24], dtype=object),
 'Терапия1_ОбщийХолестерин_Значение': array([<NA>, 5.0, 3.0, 5.2, 4.8, 4.1, 3.9, 5.1, 6.9, 4.6, 6.1, 4.9, 3.7,
        4.2, 5.3, 4.4, 5.6, 3.6, 5.7, 6.5, 5.9, 4.5, 5.8, 6.4, 4.7, 4.3,
        3.8, 3.5, 3.4, 2.8, 4.0, 6.7], dtype=object),
 'Терапия2_ОбщийХолестерин_Значение': array([<NA>, 4.2, 4.5, 5.2, 4.8, 2.2, 4.9], dtype=object),
 'ТерапевтНеИсп1_АртериальноеДавление_Значение': array([<NA>, 110, 120, 140], dtype=object),
 'ТерапевтНеИсп1_П_Значение': array([<NA>, 80], dtype=object),
 'ТерапевтНеИсп1_Рост_Значение': array([<NA>, 155, 160, 180, 183, 191, 170], dtype=object),
 'ТерапевтНеИсп1_Вес_Значение': array([<NA>, 58, 70, 90, 99, 94, 71], dtype=object),
 'ТерапевтНеИсп1_ТемператураТелаТерапевт_Значение': array([<NA>, 36.6], dtype=object),

Данные похожи на числа, попробуем преобразовать в тип float

In [16]:
try:
    display(df_object.astype(float))
except Exception as e:
    print(e)

float() argument must be a string or a real number, not 'NAType'

Есть ячейки без значения, проверим есть ли отрицательные числа

In [17]:
column_object_list = df_object.columns.values.tolist()
filter_ = (df_object[column_object_list] < 0).any(axis=1)
display(df_object[filter_])

Empty DataFrame
Columns: [ПсихиатрияНаркология1_Профессиональное1, ПсихиатрияНаркология1_Чистая_Значение, ПсихиатрияНаркология1_СоСледамиВВИнъекций_Значение, ПсихиатрияНаркология1_Контактен_Значение, ПсихиатрияНаркология1_НеКонтактен_Значение, Офтальмология1_Профессиональное1, Офтальмология1_ДискиЗрительныхНервовБледноРозовые_Значение, Оториноларингология1_Профессиональное1, Оториноларингология1_ЗаДужками_Значение, Оториноларингология1_Отсутствуют_Значение, Оториноларингология1_Увеличены_Значение, Оториноларингология1_УвеличеныСПробками_Значение, ХирургНеИсп1_Профессиональное1, ХирургНеИсп1_Мягкий_Значение, Гинекология1_Профессиональное1, Гинекология1_Регулярные_Значение, Гинекология1_Нерегулярные_Значение, Гинекология1_Плотная_Значение, Гинекология1_Эрозирована_Значение, Гинекология1_РубцовоИзменена_Значение, Стоматология1_Профессиональное1, Терапия1_П_Значение, Терапия1_ЧД_Значение, Терапия1_ФизиологическойОкраскиИВлажности_Значение, Терапия1_Гиперемированы_Значение, Дерматовенерология1_Профессиональное1, Рентгенология1_Профессиональное1, Неврология1_Профессиональное1, Неврология1_ВПолномОбъеме_Значение, Неврология1_ОграниченоВверх_Значение, Неврология1_ОграниченоВниз_Значение, Неврология1_Нет_Значение, Неврология1_Горизонтальный_Значение, Неврология1_МышечнаяСила_Значение, Терапия1_Профессиональное1, Терапия1_Рост_Значение, Терапия1_Рост_ЗначениеПредставление, Терапия1_Вес_ЗначениеПредставление, УЗИДиагностика1_Головка_Значение, УЗИДиагностика1_Тело_Значение, Хирургия1_Профессиональное1, Хирургия1_Мягкий_Значение, Хирургия2_Мягкий_Значение, Офтальмология1_Профессиональное2, Терапия2_Профессиональное1, Терапия2_Температура_Значение, Терапия2_П_Значение, Терапия2_ЧД_Значение, Терапия2_Рост_Значение, Терапия2_Вес_Значение, Терапия2_ФизиологическойОкраскиИВлажности_Значение, Терапия2_Гиперемированы_Значение, Неврология2_Профессиональное1, Неврология2_ВПолномОбъеме_Значение, Неврология2_МышечнаяСила_Значение, УЗИДиагностика1_РазмерыДлина_Значение, УЗИДиагностика1_ПереднеЗадний_Значение, УЗИДиагностика1_ТолщинаЛевыйЯичник_Значение, УЗИДиагностика1_ДлинаЛевыйЯичник_Значение, УЗИДиагностика2_Стенки_Значение, УЗИДиагностика2_Головка_Значение, УЗИДиагностика2_Тело_Значение, УЗИДиагностика2_Хвост_Значение, ХирургНеИсп1_СПИРОМЕТРИЯПРОВЕДЕНА_Значение, Офтальмология1_СосудыСреднегоКалибра_Значение, Офтальмология1_СетчаткаПрилежит_Значение, ФункциональнаяДиагностика1_ЭКГПроведено_Значение, Хирургия1_СПИРОМЕТРИЯПРОВЕДЕНА_Значение, УЗИДиагностика1_ПеченьРазмерыПраваяДоляКосойВертикальныйРазмер_Значение, УЗИДиагностика1_ЛеваяДоляТолщина_Значение, УЗИДиагностика1_ШиринаМм_Значение, УЗИДиагностика1_ГоловкаМм_Значение, УЗИДиагностика1_ТелоМм_Значение, УЗИДиагностика1_ХвостМм_Значение, УЗИДиагностика1_РазмерыДлинаМм_Значение, УЗИДиагностика1_ТолщинаМм_Значение, УЗИДиагностика1_ДлинникМм_Значение, УЗИДиагностика1_ПоперечникМм_Значение, ЛабораторныеИсследования1_Профессиональное1, ЭКГНеИсп1_Профессиональное1, Терапия1_ЭКГПроведено_Значение, Терапия1_ИМТ_ЗначениеПредставление, Терапия1_АртериальноеДавление21_Значение, Гинекология1_МенопаузаС_Значение, Гинекология1_Родов_Значение, Гинекология1_Абортов_Значение, Гинекология1_Беременностей_Значение, УЗИДиагностика1_D_Значение, УЗИДиагностика1_ВоротнаяВена_Значение, УЗИДиагностика1_DМм_Значение, УЗИДиагностика1_Профессиональное1, УЗИДиагностика2_Профессиональное1, ПсихиатрияНаркология2_Профессиональное1, Терапия1_ЧССТерапевт_Значение, УЗИДиагностика1_МлечныеПротокиШириной_Значение, УЗИДиагностика1_МлечныеПротокиНириной_Значение, Терапия1_Профессиональное2, Гинекология1_Выкидышей_Значение, Терапия2_Сатурация_Значение, Терапия2_ЭКГПроведено_Значение, ...]
Index: []

[0 rows x 151 columns]

Отрицательные числа отсутствуют, заменим пустые значения на `-1` и сохраним как тип `float`

In [18]:
df_object = df_object.fillna(-1)
df_object = df_object.astype('float')
display(df_object.head())
display(df_object.dtypes.value_counts())

,ПсихиатрияНаркология1_Профессиональное1,ПсихиатрияНаркология1_Чистая_Значение,ПсихиатрияНаркология1_СоСледамиВВИнъекций_Значение,ПсихиатрияНаркология1_Контактен_Значение,ПсихиатрияНаркология1_НеКонтактен_Значение,Офтальмология1_Профессиональное1,Офтальмология1_ДискиЗрительныхНервовБледноРозовые_Значение,Оториноларингология1_Профессиональное1,Оториноларингология1_ЗаДужками_Значение,Оториноларингология1_Отсутствуют_Значение,...,ТерапевтНеИсп1_АртериальноеДавление_Значение,ТерапевтНеИсп1_П_Значение,ТерапевтНеИсп1_Рост_Значение,ТерапевтНеИсп1_Вес_Значение,ТерапевтНеИсп1_ТемператураТелаТерапевт_Значение,ТерапевтНеИсп1_ИМТ_Значение,ТерапевтНеИсп1_АртериальноеДавление21_Значение,ТерапевтНеИсп1_Сатурация_Значение,Терапия3_ОбщийХолестерин_Значение,Гинекология2_Выкидышей_Значение
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,0.0,1.0,0.0,1.0,0.0,0.0,1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,0.0,-1.0,-1.0,0.0,0.0,0.0,0.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,0.0,1.0,0.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,0.0,0.0,1.0,0.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

float64    151
dtype: int64

###df_bool dtype `boolean`->`float`

Посмотрим на данные в `df_bool`

In [19]:
# df_bool
display(display_nunique_cond(df_bool))

Количество: 40

{'ПсихОсвидетельствование': <BooleanArray>
 [False, True]
 Length: 2, dtype: boolean,
 'Оториноларингология2_Профессиональное1': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Дерматовенерология1_Профессиональное2': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Дерматовенерология2_Профессиональное1': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Дерматовенерология2_Профессиональное2': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Хирургия1_Профессиональное2': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Офтальмология2_Профессиональное1': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Офтальмология2_Профессиональное2': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Офтальмология2_ДискиЗрительныхНервовБледноРозовые_Значение': <BooleanArray>
 [<NA>, False, True]
 Length: 3, dtype: boolean,
 'Офтальмология2_СетчаткаПрилежит_Значение': <BooleanArray>
 [<NA>, False, True]
 Length: 3, dtype: boolean,
 'Неврология2_Профессиональное2': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'ПсихиатрияНаркология1_Профессиональное2': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'УЗИДиагностика2_Профессиональное2': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Оториноларингология1_Профессиональное2': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Оториноларингология2_Профессиональное2': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Терапия2_Профессиональное2': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Оториноларингология1_Профессиональное3': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'ФункциональнаяДиагностика2_ЭКГПроведено_Значение': <BooleanArray>
 [<NA>, False, True]
 Length: 3, dtype: boolean,
 'Терапия3_Профессиональное1': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Гинекология2_Профессиональное2': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'УЗИДиагностика1_Профессиональное3': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Стоматология1_Профессиональное2': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Стоматология2_Профессиональное2': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Терапия3_Курение_Значение': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Терапия1_Профессиональное4': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Офтальмология1_Профессиональное3': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Офтальмология1_Профессиональное4': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'ЛабораторныеИсследования1_Профессиональное2': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'ЛабораторныеИсследования2_Профессиональное2': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Гинекология3_Профессиональное1': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Оториноларингология2_ЗаДужками_Значение': <BooleanArray>
 [<NA>, False, True]
 Length: 3, dtype: boolean,
 'Оториноларингология2_Отсутствуют_Значение': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'ТерапевтНеИсп1_ЭКГПроведено_Значение': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Эндоскопия1_Профессиональное1': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'ТерапевтНеИсп1_Профессиональное2': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'ХирургНеИсп1_Профессиональное2': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Психиатрия1_Профессиональное2': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Рентгенология1_Профессиональное2': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Психиатрия3_Профессиональное1': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean,
 'Оториноларингология3_Профессиональное1': <BooleanArray>
 [<NA>, False]
 Length: 2, dtype: boolean}

Представим `df_bool` как данные типа `object`.
Заменим значения `<NA>` на `-1`, `False` на `0`, а `True` на `1`.
Сохраним `df_bool` как `float`

In [20]:
print("df_bool dtype(boolean -> object)")
df_bool = df_bool.astype('object')
print("df_bool Замена <NA> -> -1, False -> 0, True -> 1...")
df_bool = df_bool.fillna(-1).replace(False, 0).replace(True, 1)
df_bool = df_bool.astype('float')
display(df_bool.head())
display(df_bool.dtypes.value_counts())

df_bool dtype(boolean -> object)
df_bool Замена <NA> -> -1, False -> 0, True -> 1...

,ПсихОсвидетельствование,Оториноларингология2_Профессиональное1,Дерматовенерология1_Профессиональное2,Дерматовенерология2_Профессиональное1,Дерматовенерология2_Профессиональное2,Хирургия1_Профессиональное2,Офтальмология2_Профессиональное1,Офтальмология2_Профессиональное2,Офтальмология2_ДискиЗрительныхНервовБледноРозовые_Значение,Офтальмология2_СетчаткаПрилежит_Значение,...,Оториноларингология2_ЗаДужками_Значение,Оториноларингология2_Отсутствуют_Значение,ТерапевтНеИсп1_ЭКГПроведено_Значение,Эндоскопия1_Профессиональное1,ТерапевтНеИсп1_Профессиональное2,ХирургНеИсп1_Профессиональное2,Психиатрия1_Профессиональное2,Рентгенология1_Профессиональное2,Психиатрия3_Профессиональное1,Оториноларингология3_Профессиональное1
0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

float64    40
dtype: int64

###df_float = df_object + df_bool

In [21]:
print(f"df_object.shape: {df_object.shape}")
print(f"df_bool.shape: {df_bool.shape}")
print("Конкатенация df_object и df_bool и запись фрейма в df_float")
df_float = pd.concat([df_object, df_bool], axis='columns')
print(f"df_float.shape: {df_float.shape}")
print(df_float.dtypes.value_counts())

df_object.shape: (1446, 151)
df_bool.shape: (1446, 40)
Конкатенация df_object и df_bool и запись фрейма в df_float
df_float.shape: (1446, 191)
float64    191
dtype: int64

###df_string

In [22]:
dict_string = display_nunique_cond(df_string)
dict_bow = {}
dict_token = {}
for k in dict_string:
    if len(dict_string[k]) <= 3:
        dict_token[k] = dict_string[k]
    else:
        dict_bow[k] = dict_string[k]
print(len(dict_string['ДиспансернаяГруппа']))
display(len(dict_bow))
display(len(dict_token))

Количество: 1282
5

259

1023

In [23]:
j = 0
for i in dict_token.keys():
    print(f"LEN={len(dict_token[i])} KEY={i} VALUE={dict_token[i]}")
    j += 1
    if j >= 10: break

LEN=2 KEY=КлиентПол VALUE=<StringArray>
['Женский', 'Мужской']
Length: 2, dtype: string
LEN=2 KEY=ТипМедосмотра VALUE=<StringArray>
['Периодический', 'Предварительный']
Length: 2, dtype: string
LEN=2 KEY=ЛабораторныеИсследования1_ОАК_Значение VALUE=<StringArray>
['получен', <NA>]
Length: 2, dtype: string
LEN=3 KEY=ЛабораторныеИсследования1_МазокИзЗеваИНоса_Значение VALUE=<StringArray>
['не получен', 'получен', <NA>]
Length: 3, dtype: string
LEN=3 KEY=ЛабораторныеИсследования1_Кал_Значение VALUE=<StringArray>
['не получен', 'получен', <NA>]
Length: 3, dtype: string
LEN=3 KEY=ЛабораторныеИсследования1_RW_Значение VALUE=<StringArray>
['не получен', 'получен', <NA>]
Length: 3, dtype: string
LEN=3 KEY=ЛабораторныеИсследования1_КровьНаЭнтеробиоз_Значение VALUE=<StringArray>
['не получен', 'получен', <NA>]
Length: 3, dtype: string
LEN=2 KEY=Рентгенология1_Легкие_Значение VALUE=<StringArray>
['без патологий', <NA>]
Length: 2, dtype: string
LEN=3 KEY=ПсихиатрияНаркология1_ХР_Рекомендация1Представление VALUE=<StringArray>
[<NA>, 'Консультация нарколога, проведение ХТИ', 'Наблюдение психиатра']
Length: 3, dtype: string
LEN=3 KEY=ПсихиатрияНаркология1_Классификация11 VALUE=<StringArray>
[<NA>, 'Окончательный', 'Предварительный']
Length: 3, dtype: string

In [24]:
def categorize_reports(arg):
    y_categories = [
        ['Годен'],
        ['ГоденСКоррекциейЗрения', 'ГоденБезРаботНаВысотах', 'ОграниченноГоден'],
        ['НуждаетсяВДообследованииИЛечении', 'ВременноНегоден']
    ]
    item = arg.strip()
    if item in y_categories[0]:     return 'Годен'
    if item in y_categories[1]:     return 'ОграниченноГоден'
    if item in y_categories[2]:     return 'ВременноНегоден'

Колонки `ЗаключениеМКПредставление` и `Заключение` по сути дублируют колонку `ЗаключениеМК` только другими формулировками, поэтому удалим их

In [25]:
datareport_list = ['ЗаключениеМКПредставление', 'Заключение']
df_string = df_string.drop(datareport_list, axis='columns')

Объединим 6 вариантов в 3 с помощью функции `categorize_reports(arg)`

In [26]:
display(df_string['ЗаключениеМК'].value_counts())
df_string['ЗаключениеМК'] = [categorize_reports(arg) for arg in df_string['ЗаключениеМК']]
print()
display(df_string['ЗаключениеМК'].value_counts())

Годен                               1315
ГоденСКоррекциейЗрения               118
ВременноНегоден                        8
НуждаетсяВДообследованииИЛечении       2
ОграниченноГоден                       2
ГоденБезРаботНаВысотах                 1
Name: ЗаключениеМК, dtype: Int64

Годен               1315
ОграниченноГоден     121
ВременноНегоден       10
Name: ЗаключениеМК, dtype: int64